
<h1>Previous Orders</h1>

<table class="PreviousOrdersSummary">
  <thead>
    <tr>
      <th >Ordered On</th>
      <th>Delivery Name</th>
      <th>Delivery Address</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= link_to 'Show', order %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
