
<h2>Your Cart</h2>

<%= render(cart.order_items) %>

Total: <%= number_to_currency(cart.total_price) %>
<% if user_signed_in? && cart.total_quantity > 0 %>
  <%= button_to "Checkout", new_order_path, method: :get %>
  <%= button_to 'Empty cart', cart, method: :delete, data: {confirm: 'Are you sure you want to empty your cart?'} %>
<% end %>
