<div class="col-12 mainContent">
<p>
	Hi, we're Pixie and Lar and we love tea!
</p>
<p>
	<%= image_tag('owners.png', :class=>'ownerImage', :alt=>'Owners image', :title=>'Owners') %>
</p>
<p> 
	We opened up Tea Heaven on 1st April 2011 (no kidding!) so we are running
	<span id="daysOpen"></span> days! Tea Heaven is a small independent company offering tea leaves to the discerning tea drinker. All our teas
	are listed on our "<a href="/store">Tea shop</a>" page (and we are always adding new ones) and we can also send you out a catalogue if you jump over to the "<a href="requestCatalogue.html">Request Catalogue</a>" page.
	<br/>
	<br/>Lorem ipsum dolor sit amet, te cetero dolores vim. Ei cum quas liber commodo. Convenire torquatos ut usu, nisl omittam
	no mel. Te ludus aeterno vim, albucius offendit ne nec. Sit labitur reprimique percipitur ut, ius in alii repudiare
	accommodare, viris pericula deseruisse per ex. Mel in summo erant adversarium, minim option eam ei, no exerci accumsan
	quaerendum eum. Te agam dicam principes mel, cu odio amet torquatos est, suas democritum intellegebat ad mel. Eius quaeque
	forensibus cum in. Ad sit velit debet eleifend. Ei modo labore mea, at vidisse reformidans eos, mea sonet facilis consequuntur
	at. Interesset reformidans per in, sed ad stet facer veritus. Putent patrioque mei id, vel mentitum disputando ea. Ei
	rebum velit mandamus nec. Dicit nullam adversarium vis no. Eum velit persecuti at, eum apeirian maluisset reprehendunt
	id. Id sit alia viderer persequeris, sint alienum patrioque cum an. Eos at iisque docendi, reque animal ius ei. Ei mei
	quem vide temporibus, in zril semper fastidii vix, mel no putent conclusionemque. Mea sint principes ea. Mel volumus
	conclusionemque id, ex qui autem electram scriptorem.
	<br/>
	<br/>Cum ex velit aliquip nostrum, at est munere perfecto. Vis ei reque falli solet. Quo ex omnis vitae luptatum, ad nonumy
	vocent his. Ad clita vivendo cum, sale mediocritatem mel ad, solum aperiam inimicus eu quo. Quas definiebas reprehendunt
	vis eu. Et laudem dicunt definiebas sea. Ea summo invidunt delicatissimi his, in pertinacia definitionem sea. Ex quot
	inimicus scriptorem his, ius porro voluptaria disputationi te. Cum no iisque aperiam hendrerit, vim ei veniam volutpat,
	aliquip eripuit persequeris quo no. Enim causae recusabo ad sed, inermis feugait no mea. Sanctus antiopam an nec, ut
	pro legimus phaedrum. No ius sumo tollit, vero repudiandae vis an, ea mel dignissim consequuntur. Et vis quot minim
	exerci, cu malorum appetere liberavisse vim, et nec fastidii mentitum. Mea ex cibo facer complectitur, has augue fierent
	inciderint cu, dicunt sententiae sed an. Labores graecis vulputate an pro, affert viderer comprehensam at duo, cu per
	case omnes. Te vel meis autem, erat simul propriae his ex, putant virtute constituto ei sed. Ex mea magna lucilius,
	cu qui prima nobis choro. Cum commodo officiis consectetuer te, phaedrum torquatos id pro. Duis graece iracundia ne
	eum, dicta nostrum sea at. Vel eu putent bonorum, te eum vide ullamcorper, ne commune patrioque honestatis pro. Nulla
	liber fierent no quo. Aeterno officiis vel et, cum no case tempor. Duo an nulla minimum dolores, quo et vulputate pertinacia,
	adhuc assum pro eu. Sit eu mollis feugait, cu sed porro erant officiis. No vero animal maiestatis vim, ea qui vide ceteros.
	Quo mucius menandri senserit ad, agam unum forensibus est in, per doctus eloquentiam at. Pri ex vitae eirmod, no eos
	possit ornatus invenire. Eam dignissim constituto ei. Et feugiat elaboraret disputationi his, perfecto suscipiantur
	ut ius, eum ex insolens volutpat. Qui tempor ignota animal ut, possim suscipit reprehendunt te nec. Eum legimus consulatu
	ei.
</p>
</div>
<div class="col-12 footerTop">
<p>
	<a href="#top">Top</a>
</p>
</div>