<div class="col-m-12 col-6 mainContactUsContent">
<div id="address">
	<%= image_tag('telephone.png', :class=>'telephoneAnimation', :alt=>'Telephone', :title=>'Telephone') %>
	<p>
		Tea Heaven
		<br/> Tea House
		<br/> 2 Dawson Street
		<br/> Dublin 2
		<br/>
		<br/> 01 2132435
		<br/>
		<br/>
		<a href="mailto:justwannatalk@teaheaven.ie?Subject=I%20love%20tea" target="_top">Email Us</a>
		<br/>
		<br/>
		<a href="mailto:lar@teaheaven.ie?Subject=I%20love%20tea" target="_top">
			<img class="emailImg" src="images/lar.png" alt="Email Lar" title="Email Lar" />
		</a>
		<a href="mailto:pixie@teaheaven.ie?Subject=I%20love%20tea" target="_top">
			<img class="emailImg" src="images/pixie.png" alt="Email Pixie" title="Email Pixie" />
		</a>

	</p>
</div>
</div>
<div class="col-m-12 col-6 embeddedMap row">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2382.0249047101306!2d-6.2599746846892295!3d53.34281037997829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e9ba55f34eb%3A0xd0efae314ebb4bb0!2s2+Dawson+St%2C+Dublin!5e0!3m2!1sen!2sie!4v1511639469900"
 width="400" height="300" style="border:2px solid grey;" allowfullscreen></iframe>
</div>